* {
    text-align: center;
    font-family: cursive, script;
}

body {
  background-image: url(https://bit.ly/4bcK1Hc);
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
}

main {
  background-color: rgba(227, 193, 173, 0.85);
  position: relative;
  top: 30%;
  border: 1px solid;
  border-radius: 5px;
  min-width: 540px;
  max-width: 50%;
  margin: auto;
  padding: 2em;
}

h1 {
  margin-bottom: 20px;
}

#search {
  border-radius: 5px 0 0 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
}

#submit {
  border-radius: 0 5px 5px 0;
  padding: 10px;
  font-size: 16px;
  width: 5em;
  cursor: pointer;
}

#weather-data {
  display: flex;
  justify-content: center;
  align-items: center;
}
